Language: Cpp  
AccessModifierOffset: -2  
AlignTrailingComments: false  
AlignOperands: true
AlignConsecutiveAssignments: true
AllowShortBlocksOnASingleLine: false  
AllowShortFunctionsOnASingleLine: None  
AllowShortCaseLabelsOnASingleLine: false 
AllowShortIfStatementsOnASingleLine: false  
AllowShortLoopsOnASingleLine: false  
AlwaysBreakBeforeMultilineStrings: true  
AlwaysBreakTemplateDeclarations: true  
BinPackParameters: false  
BreakBeforeBinaryOperators: false  
BreakBeforeBraces: Allman  
BreakBeforeTernaryOperators: true  
ColumnLimit: 0
ContinuationIndentWidth: 4  
DisableFormat: false  
ExperimentalAutoDetectBinPacking: false  
IndentCaseLabels: true  
IndentWidth: 4  
IndentWrappedFunctionNames: false  
IndentFunctionDeclarationAfterType: false  
MaxEmptyLinesToKeep: 1  
KeepEmptyLinesAtTheStartOfBlocks: false  
NamespaceIndentation: All  
PointerAlignment: Right  
SpaceBeforeAssignmentOperators: true  
SpaceBeforeParens: ControlStatements  
SpaceInEmptyParentheses: false  
SpacesBeforeTrailingComments: 1  
SpacesInAngles: false  
SpacesInCStyleCastParentheses: false  
SpacesInContainerLiterals: true  
SpacesInParentheses: false  
Cpp11BracedListStyle: true  
Standard: Cpp11  
TabWidth: 4  
UseTab: Never 
